header{
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #fdfbfb;
}

/* Navigation */
header .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.navigation .logo{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.logo .logo-img{
    max-width: 40px;
    align-self: center;
}

.logo .logo-img img{
    width:100%;
}

.logo .logo-text{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    align-self: center;
}

.logo .logo-text span{
    font-weight: 400;
}

.navigation .github-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);
    transition: 0.3s;
}

.navigation .github-link:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
    width: 90%;
    margin: 2rem auto;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
}


.hero .hero-text .title{
    font-size: 40px;
    font-weight: 700;
    width:80%;
}

.hero .hero-text .subtitle{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.705);
    margin: 1rem 0;
    width:70%;
}


main .hero-img{
    max-width: 550px;
}

.hero-img img{
    width:100%
}

main .search-section{
    display: flex;
    flex-direction: column;
    width:100%;
    /* max-width: 550px; */
}


main form{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 1rem 0;
    width: 90%;
}

main form .search-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem 0.9rem;
    border: 1px solid #e1e4e8;
    background: #fafbfc;
    box-shadow: inset 0 1px 0 rgba(255, 228, 232, 0.2);
    border-radius: 6px;
    width: 100%;
}

main form .search-input:focus-within{
    border-color: #0366d6;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.search-input input {
    border: none;
    margin: 0 0.3rem;
    font-size:18px;
    width: 100%;
    outline: none;
    background: #fafbfc;
}

.search-input .search-icon{
    max-width: 20px;
    margin: 0 0.3rem;
}

main form .search-input .clear-search-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

main form .search-btn{
    padding: 0.6rem 1.2rem;
    margin: 0 0.3rem;
    background: #2ea44f;
    color: #fff;
    box-shadow: none;
    font-weight: 700;
    border-radius:6px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

main form .search-btn:hover{
    background: #2c974b;
}

/* Search results */
main .search-section .search-results{
    background: #fafbfc;
    width: 73.5%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.096);
    border-radius: 0 0 6px 6px;
    max-height: 200px;
    overflow-y: scroll;
}

/* Styling Scrollbar */
main .search-section .search-results::-webkit-scrollbar {
    width: 10px;
}
  
main .search-section .search-results::-webkit-scrollbar-track {
    background: #cfcfcf73; 
    border-radius: 10px;
}
   
main .search-section .search-results::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}
  
main .search-section .search-results::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

main .search-section .search-results ul{
    list-style-type: none;
    padding: 0.5rem;
}

main .search-section .search-results li{
    border-bottom: 1px solid #e1e4e8;
}

main .search-section .search-results li:nth-last-child(1){
    border-bottom: none;
}

main .search-section .search-results .search-result{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.3rem;
    align-items: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

main .search-section .search-results .search-result .avatar{
    max-width: 50px;
}

main .search-section .search-results .search-result .avatar img{
    width:100%;
    border-radius: 50%;
}

main .search-section .search-results .search-result .user{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
}

main .search-section .search-results .search-result .user .name{
    font-weight: 300;
    font-size: 18px;
}

main .search-section .search-results .search-result .user .login{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.63);
    text-transform: capitalize;
}

main .search-section .search-results .no-results{
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
}
